@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
    /* font-weight: 400; */
}

body {
  overflow-x: hidden;
}

/* Basic link styling */
.nav-link {
  position: relative;
  text-decoration: none;
  color: black;
  font-weight: 500;
  padding-bottom: 4px;
}

/* Hide default hr (you can remove hr from JSX now if you want) */
.nav-link hr {
  display: none;
}

/* Create a smooth underline using a pseudo-element */
.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 1px;
  background-color: black;
  border-radius: 10px;
  transition: width 0.3s ease-in-out;
}

/* When NavLink is active (current page) */
.nav-link.active::after {
  width: 100%;
  background-color: #111; /* slightly darker shade for active link */
}


@media (max-width:640px){
  a.active {
    background-color: black;
    color:white;
    width:100%;
    padding:5px;
  }
}